{% extends "registration/registration_base.html" %}
{% load crispy_forms_tags %}
{% block titre %}Mot de passe oublié ?{% endblock %}
{% block content %}
    <form class="form-signin" method="post" action="">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                Erreur
            </div>
        {% endif %}
        {{ form|crispy }}
        <input type="hidden" name="next" value="{{ next }}">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Valider</button>
    </form>
{% endblock %}
