{% load static %}
{% load analytical %}
<!doctype html>
<html lang="fr" class="h-100">
<head>
    {% analytical_head_top %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Affichage Dynamique BdE</title>
    <link rel="icon" href="{% static "favicon.ico" %}"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style>
        main > .container {
            padding: 70px 15px 0;
        }

        .footer {
            background-color: #f5f5f5;
        }

        .footer > .container {
            padding-right: 15px;
            padding-left: 15px;
        }

        code {
            font-size: 80%;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    {% analytical_head_bottom %}
</head>
<body class="d-flex flex-column h-100">
{% analytical_body_top %}
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url "home" %}">Affichage BdE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                    <a class="nav-link" href="{% url "home" %}">Accueil</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'add_content_image' or request.resolver_match.url_name == 'add_content_youtube' or request.resolver_match.url_name == 'add_content_url' %}active{% endif %}">
                    <a class="nav-link" href="{% url "add_content_image" %}">Ajouter un contenu
                        {% if request.resolver_match.url_name == 'add_content_image' %}
                            <span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'list_screen' or request.resolver_match.url_name == 'view_screen' %}active{% endif %}">
                    <a class="nav-link" href="{% url "list_screen" %}">Ecran</a>
                </li>
                {% if user.content_moderation_pending > 0 or user.is_superuser %}
                    <li class="nav-item {% if request.resolver_match.url_name == 'moderation_home' %}active{% endif %}">
                        <a class="nav-link" href="{% url "moderation_home" %}" style="color: red;">Modérer les
                            contenus</a>
                    </li>
                {% endif %}
                {% if user.is_superuser %}
                    <li class="nav-item {% if request.resolver_match.url_name == 'screen_monitoring' %}active{% endif %}">
                        <a class="nav-link" href="{% url "screen_monitoring" %}">Monitoring Screen</a>
                    </li>
                {% endif %}
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "admin:index" %}" style="color: red;">Administration Django</a>
                    </li>
                {% endif %}
            </ul>
            <div class="btn-group dropleft mt-2 mt-md-0">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-user"> {{ user.first_name }} {{ user.last_name }}</i>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url "edit_user" %}"><i class="fas fa-user-edit"></i> Mon
                        compte</a>
                    <a class="dropdown-item" href="{% url "logout" %}" style="color: red"><i
                            class="fas fa-user-lock"></i> Déconnexion</a>
                </div>
            </div>

        </div>
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container">
        {% if user.user_is_restaurant %}
            <div class="alert alert-primary" role="alert">
                FONCTION SPECIALE RESTAURANTS <a href="{% url "add_restaurant" %}">Cliquer pour ajouter des menus</a>
            </div>
        {% endif %}
        {% if user.content_moderation_pending > 0 %}
            <div class="alert alert-warning" role="alert">
                Du contenu est en attente de <a href="{% url "moderation_home" %}">modération</a>
            </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</main>

<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <b>Support technique uniquement</b> : <a href="mailto:affichage.support@bde-insa-lyon.fr">affichage.support@bde-insa-lyon.fr</a>
            </div>
            <div class="col" style="text-align: right">
                <b>&copy;</b> <a href="https://github.com/rtorrente" target="_blank" style="color: black">Romain
                TORRENTE</a>, <a href="https://www.bde-insa-lyon.fr" target="_blank" style="color: black">BdE INSA
                Lyon</a> 2019
            </div>
        </div>
    </div>

</footer>
{% analytical_body_bottom %}
</body>
</html>