{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h3>Ajouter subscription
        {% if type_sub == "U" %}
            <b style="color: red">URGENTE</b>
        {% else %}
            <b style="color: green">NORMALE</b>
        {% endif %}
        sur l'écran <a href="{% url "view_screen" screen.pk %}">{{ screen.name }}</a>
    </h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}

        <button type="submit" class="btn btn-success btn-lg btn-block">Valider</button>
    </form><br/>
{% endblock %}