{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col">
            <h1 class="">Flux : {{ content.feed.feed_group.name }} - {{ content.feed.name }}</h1>
            {% if content.state != "A" %}<a href="{% url "approve_content" content.pk %}"><button type="button" class="btn btn-success">Approuver</button></a>{% endif %}
            {% if content.state != "R" %}<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Rejeter</button>{% endif %}
            <br>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Détails</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Titre: </strong></span><br> {{ content.name }}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Utilisateur : </strong></span><br> {{ content.user.first_name }} {{ content.user.last_name }}<br/>{{ content.user.email }}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Dates : </strong></span> {{ content.begin_date }} - {{ content.end_date }}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Durée : </strong></span> {{ content.duration }} seconde{{ content.duration|pluralize }}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Type : </strong></span>{{ content.content_type }}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Statut : </strong></span><br>
                    {% if content.state == "P" %}
                        <span class="badge badge-warning">En modération</span>
                    {% elif content.state == "R" %}
                        <span class="badge badge-danger">Refusé</span>
                    {% else %}
                        {% if content.future == 1 %}
                            <span class="badge badge-info">Programmé</span>
                        {% elif content.past == 1 %}
                            <span class="badge badge-dark">Expiré</span>
                        {% else %}
                            <span class="badge badge-success">En diffusion</span>
                        {% endif %}
                    {% endif %}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Nombre image{{ images.count|pluralize }} : </strong></span> {{ images.count }}</li>
            </ul>
        </div>
        <!--/col-3-->
        <div class="col-sm-9" style="" contenteditable="false">
            {% for image in images %}
                <img src="{{ image.get_image_url }}" style="max-width: 100%; max-height: auto"> <br/>
            {% endfor %}
        </div>
    </div>

    {% if content.state != "R" %}
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Rejeter le contenu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url "reject_content" content.pk %}" method="post">
                            {% csrf_token %}
                            <input id="id_reason" type="text" name="reason" maxlength="100" required>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">Valider le rejet</button></form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}