{% extends "base.html" %}
{% block content %}
    <div><div>
        {% for team in feed %}
            {% ifchanged team.feed_group.name %}
                </div></div><br/>
                <div class="card">
                <h5 class="card-header">{{ team.feed_group.name }}</h5>
                <div class="card-body">
            {% endifchanged %}
            <h6><a href="{% url "content_list" team.pk %}">{{ team.name }}</a> <span class="badge badge-secondary">{{ team.count_active }} contenu{{ team.count_active|pluralize }} actif{{ team.count_active|pluralize }}</span></h6>

        {% endfor %}
        </div></div>
{% endblock %}