{% extends "base.html" %}
{% block content %}
    <ul>
        <div class="row">Aller dans l'admin pour ajouter une sous-equipe<br/>
            <div>
                {% for team in feed %}
                    {% ifchanged team.feed_group.name %}
                        </div></div><br/>
                        <div class="card">
                        <h5 class="card-header">{{ team.feed_group.name }}</h5>
                        <div class="card-body">
                    {% endifchanged %}
                    <h6><a href="{% url "content_list_moderate" team.pk %}">{{ team.name }}</a></h6>

                {% endfor %}
                </table>
    </ul>
{% endblock %}